<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %msg%n</pattern>
        </encoder>
    </appender>

    <if condition='property("ENVIRONMENT").contains("development")'>
        <then>
            <root level="INFO">
                <appender-ref ref="Console"/>
            </root>
        </then>
        <else>
            <root level="INFO">
                <appender-ref ref="Logtail"/>
                <appender-ref ref="Console"/>
            </root>
        </else>
    </if>

    <!-- Ignore all the logback gedoens at the beginning -->
    <statusListener class="ch.qos.logback.core.status.NopStatusListener"/>
</configuration>
