.card-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: monospace;
    font-size: 12px;
    margin: 5px;
}

.seat {
    height: 300px;
    background: #c8d6e5;
    padding: 10px;
}