name: Run Backend Tests

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build and test with Maven
        run: mvn verify
        env:
          ENVIRONMENT: test
          CENTRIFUGO_API_KEY: test
          SERVER_CORS: http://127.0.0.1:5173
          COOKIE_DOMAIN: 127.0.0.1

      - name: Install DeepSource CLI
        run: curl https://deepsource.io/cli | sh

      - name: Upload to DeepSource
        env:
          DEEPSOURCE_DSN: ${{ secrets.DEEPSOURCE_DSN }}
        run: |
          ./bin/deepsource report --analyzer test-coverage --key kotlin --value-file ./target/site/kover/report.xml